VITE_RECIPES_CSV_URL=https://docs.google.com/spreadsheets/d/1PCfYXrzEJnmV0F5ndUqNjEPoXuxeKvuUOu3kGXcdkK4/export?format=csv&gid=2030871257
VITE_INGREDIENTS_CSV_URL=https://docs.google.com/spreadsheets/d/1PCfYXrzEJnmV0F5ndUqNjEPoXuxeKvuUOu3kGXcdkK4/export?format=csv&gid=1180992792
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_API_KEY=
